@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 97%;
    min-height: 100vh;
    background-color: white;
}
header{
    background-color: black;

    width: 100%;
    height: 200px;

    padding: 20px;
    font-family: 'Passion One', sans-serif;
    text-align: center;
    color: white;
}
header h1{
    padding-top: 20px;
    font-size: 8em;
    font-variant: small-caps;
}
header p{
    padding-bottom: 50px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}

div.box{
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 2.6em;
    line-height: 2em;
    padding-left: 30px;
    font-weight: bold;
}
div.img{
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-left: -20px;
    margin-right: -40px;
    padding-left: 60px;
    box-shadow: 0px 0px 3px black;
}
div#img1{
    background-image: url('imagens/background001.jpg');

}
div#img2{
    background-image: url('imagens/background002.jpg');
}
div > p{
    font-family: 'Sriracha', cursive;
    padding: 30px;
}
.box_p{
    padding: 80px;
    color: white;
    text-shadow: 0px 0px 2px black;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.301);
}
footer{
    background-color:black;
    padding: 20px;
    color: white;
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}