@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: linear-gradient(to bottom, #542D72 40%, #367A75 60%);
    height: 100vh;
}
form{
    display: block;
    margin: auto;
    width: 60vw;
    height: 20vw;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
        
}